
{% extends "layout.html" %}
{% block content %}
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
          img {
  position: absolute;
  left: 800px;
  top: 300px;

}
        
    p {outline-color=#984B4B	;}
    p.dotted {outline-style: dotted; color: #FFD700}
    h1 {
        text-align:center;
    }
    h2 {
        -webkit-text-stroke: 0.4px #000000;
    }

    </style>
</head>
<body>
    <h1>
        <p class="dotted"><font color=#484891 >關於我們 </font> </p>
    </h1>
    <h2><font color="white">

<p>早上起床，面對琳琅滿目的衣櫃，明明要遲到了,卻在苦思要穿什麼?<i class="far fa-dizzy"></i></p>
<p>讓我們來解決你的煩惱!</p>
<p>我們的網站正是為了有著選擇困難症的大家而設。</p>
<p>快為自己創建帳號，輸入衣服資料，充實自己的衣櫥吧！</p>
<p>我們會為您連結氣象預報，並推薦在您的衣櫥裡面今天最適宜出門的衣服<i class="fas fa-cloud"></i><i class="	fa fa-heart"></i><i class="	fa fa-heart-o"></i></p>
<p>組員：</p>
<img src=/static/image/logo.png width="400" height="400" >
<p>電機一 霍芷媛</p> 
<p>電機一 曾善恆</p>
<p>機械二 陳泓霖</p>
<p>經濟三 柯逸萱</p>
 
   

 
    </font>

    </h2></body>
{% endblock content %}
