{% extends "layout.html" %}
{% block content %}
        <div id="sidebar1">
            <img src=/static/closet3.png width="800" height="800">
        </div>
        <div id="column1">
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src=/static/clothes1.jpg width="300" height="300"><img src="/static/jeans.jpg" width="300" height="300">
        </div>
        <div id="column2">
            <br>
            <br>
            <br>
            <br>
            <font color="red" size="5">&nbsp;&nbsp;&nbsp;文字顏色為藍色</font>
            <p></p>
            <font color="red" size="5">&nbsp;&nbsp;&nbsp;今天的天氣很冷喔</font>
        </div>
{% endblock content %}