{% extends "layout.html" %}
{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>weather</title>
</head>
<body>
   
        <h1>天氣預報</h1>
        <p>接下來天氣的預測~~~</p>
            <table>
          <tr>
            <td>日期</td>
            <td> {{data[50][3]}} </td>
            <td> {{data[53][3]}} </td>
            <td> {{data[56][3]}} </td>
            <td> {{data[59][3]}} </td>
            <td> {{data[62][3]}} </td>
            <td> {{data[65][3]}} </td>
            <td> {{data[68][3]}} </td>
            <td> {{data[71][3]}} </td>
          </tr>
          <tr>
            <td>時間</td>
            <td> {{data[50][4]}} </td>
            <td> {{data[53][4]}} </td>
            <td> {{data[56][4]}} </td>
            <td> {{data[59][4]}} </td>
            <td> {{data[62][4]}} </td>
            <td> {{data[65][4]}} </td>
            <td> {{data[68][4]}} </td>
            <td> {{data[71][4]}} </td>
          </tr>
          <tr>
            <td>天氣</td>
            <td> {{data[50][12]}} </td>
            <td> {{data[53][12]}} </td>
            <td> {{data[56][12]}} </td>
            <td> {{data[59][12]}} </td>
            <td> {{data[62][12]}} </td>
            <td> {{data[65][12]}} </td>
            <td> {{data[68][12]}} </td>
            <td> {{data[71][12]}} </td>
          </tr>  
            </table>
    


{% endblock content %}